<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Product" class="com.springapp.mvc.Product">
        <property name="ID" value="1"></property>
        <property name="name" value="Kiwi"></property>
        <property name="price" value="40"></property>
    </bean>

     <bean id="ProductRepositoryImpl" class="com.springapp.mvc.ProductRepositoryImpl"></bean>


</beans>